<div class="form-constructor__container">
  <div class="form-constructor__section-editor">
    <mat-form-field>
      <textarea
        matInput
        cdkTextareaAutosize
        [(ngModel)]="formSection.sectionTitle"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Section Title"
      ></textarea>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        cdkTextareaAutosize
        [(ngModel)]="formSection.sectionSubtitle"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Form Description"
      ></textarea>
    </mat-form-field>
  </div>
  <button mat-button (click)="addQuestion(formSection)">Add question</button>

  <div
    cdkDropList
    [cdkDropListData]="formSection.questionList"
    (cdkDropListDropped)="drop($event)"
    class="form-constructor__list"
  >
    <div
      *ngFor="let question of formSection.questionList; index as i"
      class="form-constructor__question-box"
      cdkDrag
    >
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Select</mat-label>
          <mat-select
            [(ngModel)]="question.type"
            [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="updateQuestionList(i, question)"
          >
            <mat-option
              *ngFor="let option of options; index as id"
              [value]="id + 1"
            >
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <div [ngSwitch]="question.type">
        <div *ngSwitchCase="questionType.ShortAnswer">
          <app-short-answer-creator
            (blurItem)="updateQuestionList(i, $event)"
          ></app-short-answer-creator>
        </div>

        <div *ngSwitchCase="questionType.LongAnswer">
          <app-long-answer-creator
            (blurItem)="updateQuestionList(i, $event)"
          ></app-long-answer-creator>
        </div>

        <div *ngSwitchCase="questionType.SingleChoice">
          <app-single-choice-creator
            (optionsChange)="updateQuestionList(i, $event)"
            (questionChange)="updateQuestionList(i, $event)"
          ></app-single-choice-creator>
        </div>

        <div *ngSwitchCase="questionType.MultipleChoice">
          <app-multiple-choice-creator
            (optionsChange)="updateQuestionList(i, $event)"
            (questionChange)="updateQuestionList(i, $event)"
          ></app-multiple-choice-creator>
        </div>

        <div *ngSwitchCase="questionType.DropdownChoice">
          <app-dropdown-creator
            (optionsChange)="updateQuestionList(i, $event)"
            (questionChange)="updateQuestionList(i, $event)"
          ></app-dropdown-creator>
        </div>
      </div>
    </div>
  </div>
</div>
