<mat-card>
  <mat-card-content>
    <form>
      <h2>{{ quizQuestion.data.question }}</h2>

      <section>
        <ul>
          <li *ngFor="let option of options">
            <mat-checkbox
              [(ngModel)]="option.checked"
              [ngModelOptions]="{ standalone: true }"
              (ngModelChange)="answerQuestion()"
            >
              {{ option.text }}
            </mat-checkbox>
          </li>
        </ul>
      </section>
    </form>
  </mat-card-content>
</mat-card>
