<mat-card>
  <mat-card-content>
    <form>
      <h2>{{ quizQuestion.data.question }}</h2>
      <section>
        <mat-radio-group
          [(ngModel)]="selectedAnswer"
          [ngModelOptions]="{ standalone: true }"
          (change)="answerQuestion()"
        >
          <mat-radio-button
            *ngFor="let option of quizQuestion.data.options; index as id"
            [value]="id"
          >
            {{ option }}
          </mat-radio-button>
        </mat-radio-group>
      </section>
    </form>
  </mat-card-content>
</mat-card>
